@font-face {
  font-family: 'FuturaHeavyBT';
  src: url('/fonts/FuturaHeavyBT.ttf') format('truetype'),
       url('/fonts/FutuHv.ttf') format('truetype'),
       url('/fonts/futurahi.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaHeavyBT';
  src: url('/fonts/FuturaHeavyItalicBT.ttf') format('truetype'),
       url('/fonts/FutuHvIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaLight';
  src: url('/fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* font-helvetica-light utility is defined in globals.css to avoid duplication */ 